DATABASE_URL=
ALLOWED_ORIGINS=
BETTER_AUTH_SECRET="your-super-secret-key-at-least-32-characters-long"
BETTER_AUTH_URL="http://localhost:3001"

SMTP_HOST="Test"
SMTP_PORT="220"
SMTP_USER="test"
SMTP_PASS="test"
EMAIL_FROM="test@test/com"

SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_NAME=
SUPER_ADMIN_PHONE=

R2_ENDPOINT=
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_SIGNED_URL_EXPIRY_SECONDS=86400

VAPID_PUBLIC_KEY=
VAPID_PRIVET_KEY=

MUX_TOKEN_ID=
MUX_TOKEN_SECRET=
MUX_WEBHOOK_SECRET=